.header {
  font-family: sans-serif;
  padding: 40px;
  text-align: center;
  background: #a605a9;
  color: white;
  font-size: 30px;
}

.header h2 {
  font-size: 20px;
}

.cat {
  font-family: sans-serif;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.cat h2 {
  color: #a605a9;
}