.header {
  padding: 60px;
  text-align: center;
  background: #a605a9;
  color: white;
  font-size: 30px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.cat h2 {
  color: #a605a9;
}